<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Show</title>
</head>

<body>
    <div id="container">
        <h1>Add a New Show</h1> <br>
        <form action="/addshow" method="post">
            {% csrf_token %}
            Title: <input type="text" name="title" id="title">
            Network: <input type="text" name="network" id="network">
            Release Date: <input type="date" name="release_date" id="release_date">
            Description: <input type="text" name="description" id="description">
            <button type="submit">Add!</button>

        </form>
        <a href="http://localhost:8000/shows"> Go back </a>

        {% if messages %}
        <ul class="messagescopy">
                {% for message in messages %}
                    <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                {% endfor %}
        </ul>
        {% endif %}

    </div>
</body>
</html>