<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show</title>
</head>
<body>
    <div id="container">
        <h1>TV SHOW {{show_to_display.id}}</h1> <br>
        <p>Title: {{show_to_display.title}}</p> <br>
        <p>Network: {{show_to_display.network}}</p>
        <p>Description: {{show_to_display.desc}}</p>
        <a href="http://localhost:8000/shows"> Go back </a>





    </div>
</body>
</html>