<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
</head>

<body>
    <div id="container">
        <h1>Hello {{logged_in_user.first_name}}</h1>
        <a href="/logout">Log out!</a><br>
        <form action="/new" method="post">
            {% csrf_token %}
            <button type="submit">New Job</button>
        </form>
        <h2>Everyone's jobs:</h2>
        <table>
            <tr>
                <th>Job</th>
                <th>Location</th>
                <th>Actions</th>
            </tr>
            {%for job in all_jobs%}
            <tr>
                <td>{{job.title}}</td>
                <td>{{job.location}}</td>
                <td>
                    <a href="/jobs/{{job.id}}">View</a>
                    <form action="/addjobtouser" method="post">
                        {%csrf_token%}
                        <input type="hidden" name="job_id" id="job_id" value="{{job.id}}">
                        <button type="submit">Add to my jobs</button>
                    </form>
                    {%if job.uploaded_by == logged_in_user%}
                    <form action="/delete" method="post">
                        {%csrf_token%}
                        <input type="hidden" name="job_id"value="{{job.id}}">
                        <button type="submit">Delete</button>
                    
                    </form>
                    <form action="/jobs/edit/{{job.id}}" method="post">
                        {%csrf_token%}
                        <button type="submit">Edit</button>
                        <input type="hidden" name="job_id"value ="{{job.id}}">
                    </form>
                   
                
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>




    </div>
</body>

</html>