<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PlayGround</title>
    
</head>

<body>
    <div id="container" style="width: 970px; margin: 0 auto;
    padding: 15px;">
        <h1 style="display: flex; justify-content: center;">Welcome!!!</h1>
        <div id="boxes" style="display: flex; margin: 50px;">
            <div class="box" style="width: 100px; height: 100px;
            background-color: blue; margin: 0 auto"></div>
            <div class="box" style="width: 100px; height: 100px;
            background-color: blue; margin: 0 auto"></div>
            <div class="box" style="width: 100px; height: 100px;
            background-color: blue; margin: 0 auto"></div>
        </div>

    </div>
</body>

</html>